# Node modules
/node_modules

# Package lock files
/package-lock.json
/npm-debug.log

# Environment variables
/.env

# Firebase service account credentials
/firebaseServiceAccount.json

# Logs
*.log

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
